@page "/"
@using SanFilmotekaCommon;
@inject IMovieService Service

@if (Movies != null)
{
    @foreach (var movie in Movies)
    {
        <div>@movie.Title</div>
    }
}



@code {

    IEnumerable<Movie> Movies { get; set; }

    protected override void OnInitialized()
    {
        Movies = Service.GetRandomMovies();
    }

}
